[submodule "QWidgetListWidget"]
	path = QWidgetListWidget
	url = https://github.com/pierrebai/QWidgetListWidget.git
[submodule "SimpleUndoRedo"]
	path = SimpleUndoRedo
	url = https://github.com/pierrebai/SimpleUndoRedo.git
[submodule "QtAdditions"]
	path = QtAdditions
	url = https://github.com/pierrebai/QtAdditions.git
[submodule "dak_utility"]
	path = dak_utility
	url = https://github.com/pierrebai/dak_utility.git
